<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <center><h1>Post in Detail of <%=post.id%></h1></center>
    <div class="user-card">
        <p>Post id : <%= post.id %></p>
        <p>User name : <%= post.name %></p>
        <p>Content : <%= post.content %></p>
    </div>
<center><a href="http://localhost:3000/posts">Go back to all Posts</a></center>
</body>
</html>